* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #989a9b;
    color: #fff;
    overflow-x: hidden;
}

/* ---------- HEADER  ---------- */

section {
    min-height: 100vh;
    padding: 10rem 9% 5rem;
}


/* Projects Section */
.projects-section {
    padding: 0 9%;
}

.heading {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 5rem;
}

.heading span {
    color: rgb(241, 38, 65);
}

/* 3-COLUMN GRID LAYOUT */
.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.project-box {
    background: #112e42;
    padding: 2rem;
    border-radius: 1.5rem;
    text-align: center;
    border: .2rem solid transparent;
    transition: .4s ease;
    opacity: 0;
    transform: translateY(30px);
}

.project-box.show {
    opacity: 1;
    transform: translateY(0);
}

.project-box:hover {
    border-color: #0ef;
    transform: scale(1.02);
}

.project-box i {
    font-size: 3rem;
    color: #0ef;
}

.project-box h3 {
    font-size: 2rem;
    margin: 1rem 0;
}

.project-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.project-box h4 {
    font-size: 1.3rem;
    color: #0ef;
    margin-bottom: 0.8rem;
}

.project-box ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8rem;
    margin-bottom: 2rem;
}

.project-box li {
    font-size: 1rem;
    background: #081b29;
    padding: 0.2rem 0.8rem;
    border-radius: 0.4rem;
}

.btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    background: #0ef;
    border-radius: 3rem;
    font-size: 1.2rem;
    color: #081b29;
    font-weight: 600;
    transition: .3s ease;
}

.btn:hover {
    box-shadow: 0 0 1rem #0ef;
    transform: translateY(-2px);
}

.homebtn {
    margin-top: 2rem;
    align-items: center;
    margin-left: 50rem;
    padding: 10px 22px;
    border-radius: 20px;
    margin-top: 7rem;
    width: 13rem;
    position: relative;
    transition: color 0.3s ease;
}

.homebtn::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.homebtn:hover::after {
  border-color: #00f2ff;
}
.homebtn:hover{
    transition: all 0.3s linear;
    background: transparent;
}

/* Responsive */
@media (max-width: 1100px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .projects-container {
        grid-template-columns: 1fr;
    }

    .heading {
        font-size: 2.8rem;
    }

    .homebtn {
        display: block;
        margin: 0 auto;
        margin-top: 4rem;
    }
}