@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #c9c0c0;
    color: #fff;
    overflow-x: hidden;
}



/* ---------- HOME SECTION ---------- */
section {
    min-height: 100vh;
    padding: 10rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #ffffff;
    flex-wrap: wrap;
}

.home-img img {
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 10px #b74b4b;
    cursor: pointer;
    transition: 0.3s ease;
}

.home-img img:hover {
    transform: scale(1.05);
}

.home-content h1 {
    font-size: clamp(3.1rem, 3.5vw, 4rem);
    font-weight: 700;
    line-height: 1.3;
    color: rgb(143, 141, 238);
}

.home-content h3 {
    font-size: clamp(1.8rem, 3vw, 4rem);
    margin-bottom: 1rem;
    font-weight: 600;
    color: rgb(44, 42, 44);
}

.home-content p {
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    max-width: 600px;
    line-height: 1.6;
    color: rgb(44, 42, 44);
}

span {
    color: #4b52b7;
}

.social-icons {
    margin-top: 2rem;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin-right: 1.5rem;
    border: 0.2rem solid #b74b4b;
    border-radius: 50%;
    color: #b74b4b;
    font-size: 2rem;
    transition: 0.3s ease;
}

.social-icons a:hover {
    background-color: #b74b4b;
    color: #000;
    transform: scale(1.2);
    box-shadow: 0 0 20px #b74b4b;
}

.typing-text {
    font-size: clamp(1.8rem, 3vw, 3.4rem);
    font-weight: 600;
    min-width: 280px;
}

.typing-text span::before {
    content: "Web Developer";
    color: #967762;
    animation: words 20s infinite;
}

@keyframes words {

    0%,
    20% {
        content: "Web Developer";
    }

    21%,
    40% {
        content: "Software Engineer";
    }

    41%,
    60% {
        content: "Web Designer";
    }

}

/* ---------- MEDIA QUERIES ---------- */
@media (max-width: 995px) {

    .home {
        flex-direction: column-reverse;
        text-align: center;
        gap: 4rem;
    }

    .home-img img {
        width: 60vw;
    }
}

@media (max-width: 480px) {
    .home-content h1 {
        font-size: 3rem;
    }

    .home-content h3 {
        font-size: 2rem;
    }

}

/* ---------projects -----*/

.projects-section {
    padding: 0 9%;
}

.heading {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 5rem;
}

.heading span {
    color: rgb(241, 38, 65);
}

/* 3-COLUMN GRID LAYOUT */
.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.project-box {
    background: #112e42;
    padding: 2rem;
    border-radius: 1.5rem;
    text-align: center;
    border: .2rem solid transparent;
    transition: .4s ease;
    opacity: 0;
    transform: translateY(30px);
}

.project-box.show {
    opacity: 1;
    transform: translateY(0);
}

.project-box:hover {
    border-color: #0ef;
    transform: scale(1.02);
}

.project-box i {
    font-size: 3rem;
    color: #0ef;
}

.project-box h3 {
    font-size: 2rem;
    margin: 1rem 0;
}

.project-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.project-box h4 {
    font-size: 1.3rem;
    color: #0ef;
    margin-bottom: 0.8rem;
}

.project-box ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8rem;
    margin-bottom: 2rem;
}

.project-box li {
    font-size: 1rem;
    background: #081b29;
    padding: 0.2rem 0.8rem;
    border-radius: 0.4rem;
}

.btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    background: #0ef;
    border-radius: 3rem;
    font-size: 1.2rem;
    color: #081b29;
    font-weight: 600;
    transition: .3s ease;
}

.btn:hover {
    box-shadow: 0 0 1rem #0ef;
    transform: translateY(-2px);
}

.explore {
    display: block;
    margin: 0 auto;
    width: 200px;
    /* padding-top: 2rem; */
    margin-top: 3rem;
    font-size: 1.5rem;
}
.explore:hover{
    transition: all 0.3s linear;
    background: transparent;
}


/* Responsive */
@media (max-width: 1100px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .projects-container {
        grid-template-columns: 1fr;
    }

    .heading {
        font-size: 2.8rem;
    }
}


/* ------------contact ------------*/

.contact {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contact-box {
    background: #020617;
    width: 100%;
    max-width: 420px;
    padding: 30px;
    border-radius: 10px;
}

.contact-box h1 {
    font-size: 26px;
    margin-bottom: 10px;
}


.field {
    margin-bottom: 18px;
}

.field label {
    display: block;
    font-size: 13px;
    margin-bottom: 6px;
}

.field input,
.field textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #1e293b;
    background: #020617;
    color: #e5e7eb;
    outline: none;
}

.field textarea {
    height: 100px;
    resize: none;
}

.field input:focus,
.field textarea:focus {
    border-color: #38bdf8;
}

button {
    width: 100%;
    padding: 10px;
    background: #38bdf8;
    color: #020617;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #0ea5e9;
}